/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-fluo: #11FF00;
  --white-web: #F5F5F5;
}

header {
  opacity: 0;
}

body {
  color: var(--foreground);
  background: var(--white-web);
  font-family: 'Helvetica', sans-serif;
}

main {
  width: 100vw;
}

/* Styles typographiques */
h1 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 140px;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 70px;
}

h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.subtitle {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 300;
  font-size: 20.5px;
}

.cta-secondary {
  font-family: 'Passenger Sans', sans-serif;
  font-weight: 900;
  font-size: 31px;
}

.text-courant {
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
  font-size: 17px;
}

/* Ajout des styles pour l'animation du logo */


.container-animation {
  position: relative;
  height: 300vh; /* Pour créer un long défilement */
  background-color: black;
}

.container-animation2 {
  background-color: white;
  height: auto;
}

.stickyMask {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url('/medias/mask.svg'); /* Image du masque */
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: 80%; /* Taille initiale du masque */
  background-color: white;
}

/* Autres styles existants... */

.stickyTextWrapper {
  position: relative;
}
.stickyTexts {
  width:fit-content;
  display:flex;
  flex-wrap:nowrap;
}

.stickyTexts h2 {
  font-size:28vw;
  flex-shrink:0;
  padding-right:0.3em;
  padding-left:0.3em;
  margin:0;
}

.redsquare {
  width: 250px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}


.space-50vh {
  height:50vh;
}

.space-100vh {
  height:20vh;
}